<br>
<%= form_with model: [:logged_in, @note] do |f| %>
  <div class="modal-header">
    <h4 class="modal-title" id="exampleModalLabel">
      <%= @note.persisted? ? t(:edit) : t(:new) %>
    </h4>

  </div>
      <div class="modal-body">
        <div class="form-group">
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
        <%= f.label :book_id %>
        <%= f.collection_select :book_id, current_user.order_books, :id, :name, {include_blank: 'global'}, class:'form-control', prompt: true%>
       
        </div>


        <div class="form-group">
        <%= f.label :content %>
        <%= f.text_area :content, class: 'form-control form-control-sm mb-3', rows: 10%>

        </div>

      </div>
      <div class="modal-footer">
      <%= link_to 'volver', logged_in_notes_path, class: 'btn btn-secondary' %>
      <%= f.submit class: 'btn btn-primary' %>
      </div>
</div>
<% end %>