<br>
<%= form_with model: [:logged_in, @note] do |f| %>
  <div class="modal-header">
    <h4 class="modal-title" id="exampleModalLabel">
      <%= @note.persisted? ? "Editar nota" : 'Nuevo nota' %>
    </h4>

  </div>
      <div class="modal-body">
        <div class="form-group">
        <%= f.label :title, 'Nombre' %>
        <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
        <%= f.label :book_id, 'Book' %>
        <%= f.collection_select :book_id, current_user.books, :id, :name, {include_blank: 'global'}, class:'form-control', prompt: true%>
       
        </div>


        <div class="form-group">
        <%= f.label :content, 'contenido' %>
        <%= f.text_area :content, class: 'form-control'%>

        </div>

      </div>
      <div class="modal-footer">
      <%= link_to 'volver', logged_in_notes_path, class: 'btn btn-secondary' %>
      <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
</div>
<% end %>