<tr id='<%= dom_id(note) %>'>
  <td>
  <div class="row">
  <div class="col-1">
    <i class="large material-icons color-book">description</i>
  </div>
  <div class="col-6">
  <%= note.title %>
  </div>
  
  </td>
  <td><%= date_create(note) %></td>
  <td><%= date_update(note) %></td>

  <td>
  <div class="d-flex flex-row bd-highlight">
  <div class="p-2 bd-highlight">
  <%= show_link(t(:show), logged_in_note_path(note,source:params[:source]), "visibility","btn-sm btn-outline-info") %>
  
  </div>
  <div class="p-2 bd-highlight">
  <%= show_link(t(:html), download_logged_in_note_path(note), "file_download","btn-sm btn-outline-success","_blank") %>
  </div>
  <% 
   if  params[:source].nil?
 %>
 <div class="p-2 bd-highlight">
  <%= show_link(t(:edit), edit_logged_in_note_path(note),"create","btn-sm btn-outline-warning") %>

  </div>
  <div class="p-2 bd-highlight">
  <%= link_to t(:delete), logged_in_note_path(note), method: :delete, data: { confirm: t(:message_confirmation, models: note) }, class: 'btn btn-sm btn-outline-danger' %>
  </div>
<% end %>
</div>

  </td>
</tr>

