<br><br>
<div class="container-fluid">
    <div class="card ">
    <div class="card-header text-center">
        <%= @note.title.upcase %>
    </div>
    <div class="card-body">
        <b class="card-title text-secondary"><%= @note.book %></b>
        <p class="card-text"><%= @note.markdown_content.html_safe %></p>
        
    </div>
    <div class="card-footer text-muted text-center">
        <p><%= t(:date_create) + ": "+ date_create(@note) %> </p>
        <p><%= t(:date_update) + ": " +date_update(@note) %> </p>
        <%= link_to t(:back), logged_in_notes_path, class:'btn btn-primary float-right' %>
    </div>
    </div>
</div>