<br><br>
<div class="container-fluid">
    <div class="card ">
    <div class="card-header text-center">
        <%= @note.title.upcase %>
    </div>
    <div class="card-body">
        <p class="card-text"><%= @note.markdown_content.html_safe %></p>
        
    </div>
    <div class="card-footer text-muted text-center">
        <p><b><%= t(:book) + ": " +@note.name_book %></b> </p>
        <p><%= t(:date_create) + ": "+ date_create(@note) %> </p>
        <p><%= t(:date_update) + ": " +date_update(@note) %> </p>

        <% if  !params[:source].nil? %>
        <a href="javascript: history.go(-1)" class="btn btn-primary float-right"><%= t(:back) %></a>
        <% else %>
        <br>
        <%= link_to t(:back),logged_in_notes_path, class:'btn btn-primary float-right'%>
        <% end %>
    </div>
    </div>
</div>
<br>