<tr>
  <td>
  <div class="row">
  <div class="col-1">
    <i class="large material-icons color-book">folder</i>
  </div>
  <div class="col-6">
  <%= book.name %>
  </div>
  
  
  </td>
  <td class="text-secondary"><%= date_create(book)%></td>
  <td>
  <div class="d-flex flex-row bd-highlight">
    <div class="p-1 bd-highlight">
    <%= show_link(t(:show), logged_in_book_path(book, source: "book_show"), "visibility","btn-sm btn-outline-info") %>

    </div>
    <div class="p-1 bd-highlight">
    <%= show_link(t(:html), download_logged_in_book_path(book), "file_download","btn-sm btn-outline-success","_self") %>
    </div>
    <div class="p-1 bd-highlight">
    <%= link_to t(:edit), edit_logged_in_book_path(book), class: 'btn btn-sm btn-outline-warning' %>
    </div>
    <div class="p-1 bd-highlight">
    <%= link_to t(:delete), logged_in_book_path(book), method: :delete, data: { confirm: t(:message_confirmation, models: book) }, class: 'btn btn-sm btn-outline-danger' %>
    </div>
  </div>
  </td>
</tr>
