<br>
<%= form_with model: [:logged_in, @book] do |f| %>
  <div class="modal-header">
    <h4 class="modal-title" id="exampleModalLabel">
      <%= @book.persisted? ? "Editar nota" : 'Nuevo nota' %>
    </h4>

  </div>
      <div class="modal-body">
        <div class="form-group">
        <%= f.label :name, 'Nombre' %>
        <%= f.text_field :name, class: 'form-control' %>
        </div>
      

      </div>
      <div class="modal-footer">
      <%= link_to 'volver', logged_in_books_path, class: 'btn btn-secondary' %>
      <%= f.submit 'Guardar', class: 'btn btn-primary' %>
      </div>
</div>
<% end %>