<!DOCTYPE html>
<html>
  <head>
    <title>Boxes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

  </head>

 <body class="d-flex flex-column h-100">
    
   <%= render 'navbar_logged_out' %>
    <!-- Begin page content -->
    <main class="flex-shrink-0">
      <div class="container-fluid">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
     <% flash.each do |key, value| %>
        <%= content_tag :div, value, class: "flash #{key}" %>
      <% end %>
        <%= yield %>
      </div>
    </main>

  <%= render 'footer'%>
 
  </body>
</html>