<!DOCTYPE html>
<html>
  <head>
    <title>Boxes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <%= stylesheet_pack_tag 'application', media: 'all' %>

  </head>

 <body class="d-flex flex-column h-100">
    
   <%= render 'navbar_logged_out' %>
    <main class="flex-shrink-0">
      <div class="container-fluid">
      <%= render 'flash_message'%>

        <%= yield %>
      </div>
    </main>

  <%= render 'footer'%>
 
  </body>
</html>